<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/createnewuser" method="POST">
      <h3>Enter your name :</h3>
      <input type="text" name="name" />
      <!-- <h3>Create username :</h3>
      <input type="text" name="username" /> -->
      <h3>Enter email :</h3>
      <input type="text" name="email" />
      <h3>Password :</h3>
      <input type="text" name="password" />
      <button type="submit">Submit</button>
    </form>
    <hr />
    <h4>Already exist ? <a href="/"> Click to Login</a></h4>
  </body>
</html>
