<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/update" method="POST">
      <h3>userid:</h3>
      <input type="text" name="id" value="<%=data.id %>" readonly />
      <h3>name :</h3>
      <input type="text" name="name" value="<%= data.name %>" />
      <h3>Enter email :</h3>
      <input type="email" name="email" value="<%=data.email  %>" />
      <h3>Password :</h3>
      <input type="password" name="password" value="<%=data.password  %>" />
      <button type="submit">Update</button>
    </form>
  </body>
</html>
